doctype
html(lang='en')
    head
        meta(charset='utf8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name='description', content='Example')
        meta(name='author', content='Thiago Lagden')
        link(rel='stylesheet', type='text/css', href='qCombo.css')
        style.
            body {
                background: gray
            }

            label {
                display: block;
                margin-bottom: 5px;
            }

            .mar-b-20 {
                margin-bottom: 20px;
            }
    title Example
    body
        h1 Example
        form#frm(action='#', method='GET')
            .mar-b-20
                label(for='animal') Choose one animal:
                .qCombo
                    select#animal(name='animal', title='Choose one animal')
                        option(value='') Choose one animal
                        option(value='Dog') Dog
                        option(value='Cat') Cat
                        option(value='Lion', selected) Lion
                        option(value='Fox') Fox
                        option(value='Dog') Dog
                        option(value='Cat') Cat
                        option(value='Lion', selected) Lion
                        option(value='Fox') Fox
                        option(value='Dog') Dog
                        option(value='Cat') Cat
                        option(value='Lion', selected) Lion
                        option(value='Fox') Fox

            //- .mar-b-20
            //-     label(for='food') Choose one food:
            //-     .qCombo
            //-         select#food(name='food')
            //-             option(value='') Choose one food
            //-             option(value='Pizza') Pizza
            //-             option(value='Massa') Massa
            //-             option(value='Fish') Fish

            //- .mar-b-20
            //-     .qCombo
            //-         .widgetCombo.isSearching
            //-             .widgetComboLabel
            //-                 .widgetCombo__caption
            //-                     span Some big stuff hereee
            //-                 .qCombo-down.qCombo__icon
            //-                 .qCombo-clean.qCombo__icon
            //-             .widgetComboList
            //-                 input.widgetCombo__q(type='text', role='combobox', placeholder='Filtro')
            //-                 .qCombo-search.qCombo__icon
            //-                 ul.widgetCombo__listbox(role='listbox')
            //-                     each val in [0, 1, 2, 3, 4, 5, 7, 8, 9, 10]
            //-                         li test #{val}

            button(type='submit') OK
            button(type='reset') Reset
            button#destroy(type='button') Destroy


        script.
            (function () {
              function CustomEvent ( event, params ) {
                params = params || { bubbles: false, cancelable: false, detail: undefined };
                var evt = document.createEvent( 'CustomEvent' );
                evt.initCustomEvent( event, params.bubbles, params.cancelable, params.detail );
                return evt;
               };

              CustomEvent.prototype = window.Event.prototype;

              window.CustomEvent = CustomEvent;
            })();

        script(src='qCombo.pkg.js')
        script.
            var cache = [];
            [].forEach.call(document.querySelectorAll('.qCombo'), function(el){
                cache.push(new QCombo(el));
            });

            var animal = document.querySelector('#animal');
            animal.addEventListener('change', function(event){
                console.log(event, animal);
            }, false);